MONGO_URL = mongodb+srv://localhost/expense-tracker

FACEBOOK_ID = Your facebook ID
FACEBOOK_SECRET = Your facebook SECRET
FACEBOOK_CALLBACK = http://localhost:3000/auth/facebook/callback

GOOGLE_CLIENT_ID = Your google CLIENT ID
GOOGLE_CLIENT_SECRET = Your google CLIENT SECRET
GOOGLE_CALLBACK = http://localhost:3000/auth/google/callback

SESSION_SECRET = Your session SECRET

PORT = 3000

