<div class="row mt-5 form">
  <div class="col-md-10 col-lg-6 m-auto">
    <div class="card card-body p-5">
      {{> messages}}
      <pre
        class="text-center"><span style="color: #e83e8c;">*</span> required<span class="h2">   Input Your Expense</span></pre>

      <form action="/records" method="POST" class="container form-group">
        {{> record-form}}
        {{!-- create button --}}
        <div class="d-grid gap-4 col-6 mx-auto mt-5 mb-3">
          <button type="submit" class="btn btn-outline-warning">Create</button>
          <a class="btn btn-outline-secondary" href="/" role="button">Back</a>
        </div>
      </form>
    </div>
  </div>
</div>