<div class="row mt-3">
  <div class="col-8 col-md-6 col-lg-4 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Account Login</h1>
      {{> messages}}
      <form action="/users/login" method="POST">
        <div class="mb-3">
          <label for="email" class="mb-2 mt-2 h5">Email</label>
          <input type="email" id="email" name="email" class="form-control d-block mx-auto" placeholder="Enter Email"
            required>
        </div>
        <div class="mb-3">
          <label for="password" class="mb-2 h5">Password</label>
          <input type="password" id="password" name="password" class="form-control d-block mx-auto"
            placeholder="Enter Password" required>
        </div>
        <div class="row justify-content-center">
          <button type="submit" class="btn btn-primary col-4" style="font-size: 20px;">Log-in</button>
        </div>
      </form>
      <p class="lead mt-4">
        No account ?? <a href="/users/register">Go to register</a>
      </p>
      <div class="d-grid gap-2 my-3">
        <a href="/auth/facebook" class="btn btn-outline-primary btn-block"><i class="fab fa-facebook"></i> Facebook
          Login</a><a href="/auth/google" class="btn btn-outline-danger btn-block"><i class="fab fa-google"></i>
          Google
          Login</a>
      </div>
    </div>
  </div>
</div>